*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}
img{
  display: block;
  max-width: 100%;
}
button{border: none; display: block;}
a{color: currentColor; text-decoration: none;}

/*-------- splash---------*/
.splash{
  width: 100vw;
  height: 100vh;
  background-color: #f3cf7a;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
}
.splash #logo{
  width: 200px;
}

.container{
  z-index: 1;
  background-color: #f3cf7a;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 80px;
}
.header{
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: #ac3f21;
  position: fixed;
  top: 0;
  left: 0;
}
.header .menu{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}
.header .menu > h2, p{
  padding: 15px 0px;
  color: #e9e3d5;
}

.itens{
  width: 90%;
  height: 120px;
  border-radius: 5px;
  background-color: #5c3737;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.itens > img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.itens .info{
  display: flex;
  flex-direction: column;
}
.itens .info > h3, h5{
  margin-bottom: 10px;
  color: #e9e3d5;
}
.itens .info > button {
  border: none;
  display: block;
  padding: 5px 20px;
  border-radius: 5px;
  align-self: flex-end;
  background-color: #ac3f21;
  color: #e9e3d5;
}

.footer{
  width: 100%; 
  height: auto;
  position: fixed;
  left: 0;
  bottom: 10px;
}
#login{
  background-color: #be6a15;
  border-radius: 5px;
  color: #e9e3d5;
  font-size: 1.1em;
  width: 150px;
  padding: 7px 0px;
  margin: 0 auto;
}


/*-------- item info---------*/
.container-item{
  height: 100vh;
}
.item{
  height: 500px;
  flex-direction: column;
  justify-content: center;
  background-color: #b39e6e;
}
.info-item .botoes{
  width: 230px;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.info-item .botoes .qtd{
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ac3f21;
  border-radius: 5px;
  color: #e9e3d5;
}
.info-item .botoes button#addPedido {
  background-color: #ac3f21;
  padding: 10px;
  border-radius: 5px;
  color: #e9e3d5;
}
