<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.appfoto" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>appfoto</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="camera:**" />
    <preference name="android-miSdkVersion" value="22"/>
    <plugin name="cordova-plugin-camera" soruce="npm" spec="~2.3.1"/>
    <plugin name="cordova-plugin-whitelist" soruce="npm" spec="~1.3.4"/>
</widget>