/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */

    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



html, body{height: 100%;}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    background-color:rgb(170, 170, 170);
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.app h1{
    margin: 10px 0px;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
    width: 100px;
}

.event.received {
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.btEntrar{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 10px #8a8a8a;
}
.btEntrar a{
    color: black;
    font-size: 1.2em;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.header{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color:rgb(204, 204, 204);
    flex-grow: 0;
}
.header a{
    text-decoration: none;
    color: rgb(218, 0, 0);
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px 10px #8a8a8a;
}

.main{
    width: 100%;
    padding: 5px;
    margin-bottom: 50px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 4;
    align-items: center;
    background-color:rgb(170, 170, 170);
}

.main p{
    margin-top: 15px;
    font-size: 1.2em;
}

.main .after{
    font-size: 1.3em;
    font-weight: bold;
    text-transform: uppercase;
}

.main .after::after{
    content: '';
    width: 60px;
    height: 3px;
    background-color: rgb(218, 0, 0);
    display: block;
    margin: 5px auto;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    bottom: 0;
    flex-grow: 0;
}
.footer a{
    text-decoration: none;
    color: rgb(218, 0, 0);
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    flex: 1 1 100%;
    padding: 15px;
    background-color:rgb(204, 204, 204);
    text-shadow: 1px 1px 10px #8a8a8a;
}
.footer :nth-child(2) {
    border-left: 2px solid rgb(218, 0, 0);
    border-right: 2px solid rgb(218, 0, 0);;
}


/*------------------------- map ----------------*/

.map{
    padding: 15px;
}

.map h1{
    margin: 5px 0px;
}

.map iframe{
    border-radius: 5px;
    margin: 10px 0px;
    box-shadow: 2px 2px 10px #8a8a8a;;
}




/*------------------------- video ----------------*/

.video{
    padding: 15px;
}
.video iframe{margin: 10px 0px;}

.video h1{
    margin: 10px 0px;
}


/*------------------------- clima ----------------*/

.clima{
    
}